<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login Form</title>
   <link rel="stylesheet" href="/public/css/site.css" type="text/css">
</head>
<body>    
    <h1>Login Form</h1>
    <form class="new-form" id="login-form" method="POST" action="login">
    <div>
        <label for="username">UserName</label>
        <input type= "text" id="username" name="username" placeholder="UserName" class="text" required="required"/>
    </div>
    <div>
        <label for="password">Password</label>&nbsp;
        <input type="password" id="password" name="password" placeholder="Password" class="text" required="required"/>
    </div>
    <div class="Submit-btn">
        <button type="submit" class="button">Login</button>
    </div>

    {{#if hasErrors}}              
        <p class="error">{{errors}}</p>            
     {{/if}}

   </form>

    
</body>
</html>