<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Logout</title>
  <link rel="stylesheet" href="/public/css/site.css" type="text/css">
</head>
<body>
    <h1>Logout</h1>      
    <div class="logged-out">
    <p>{{message}}</p>

    <a href="/">Click here to Login</a>  
    </div>
</body>
</html>
